<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
    <link rel="stylesheet" href="{{ url_for('static',filename='css/project 4 style.css') }}">

</head>
<body>
    
<header class="header">

    <div id="menu-btn" class="fas fa-bars"></div>

    <a href="#" class="logo"> <span>Feel</span>Good<span>Drive</span> </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#vehicles">vehicles</a>
        <a href="#services">services</a>
        <a href="#featured">featured</a>
        <a href="{{ url_for('reviews') }}">reviews</a>
        <a href="{{ url_for('contact') }}">contact us</a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>

    
    <div id="login-btn">
        <button class="btn"></button>
        <i class="far fa-user"></i>
    </div>

   
</header> 
    
<div class="login-form-container">

    <span id="close-login-form" class="fas fa-times"></span>

    <form action="">
        <h3>user login</h3>
        <input type="email" placeholder="email" name="email"class="box"required>
        <input type="password" minlength="8" maxlength="15"placeholder="password" name="Password"class="box" required>
        <p> forget your password <a href="#">click here</a> </p>
        <input type="submit" value="login" class="btn">
        <p>or login with</p>
        <div class="buttons">
            <a href="https://mail.google.com/" class="btn"> google </a>
            <a href="https://www.facebook.com/" class="btn"> facebook </a>
        </div>
        <p> don't have an account <a href="#">create one</a> </p>
    </form>

</div>

<section class="home" id="home">

    <h3 data-speed="-2" class="home-parallax">find your car</h3>

    <img data-speed="5" class="home-parallax" src="{{ url_for('static',filename='images/home-img.png') }}" alt="">

    

</section>

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-home"></i>
        <div class="content">
            <h3>150+</h3>
            <p>branches</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-car"></i>
        <div class="content">
            <h3>4770+</h3>
            <p>cars sold</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <div class="content">
            <h3>320+</h3>
            <p>happy clients</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-car"></i>
        <div class="content">
            <h3>1500+</h3>
            <p>news cars</p>
        </div>
    </div>

</section>

<section class="vehicles" id="vehicles">

    <h1 class="heading"> popular <span>vehicles</span> </h1>

    <div class="swiper vehicles-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/kia seltos.png') }}" alt="">
                <div class="content">
                    <h3>kia seltos</h3>
                    <div class="price"> <span>price : </span> 18,20,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> manual
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> diesel
                        <span class="fas fa-circle"></span> 183mph
                    </p>
                    <a href="{{ url_for('seltos') }}" class="btn">Book Now</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/kia-carnival.png') }}" alt="">
                <div class="content">
                    <h3>kia-carnival</h3>
                    <div class="price"> <span>price : </span> 34,50,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> manual
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> diesel
                        <span class="fas fa-circle"></span> 183mph
                    </p>
                    <a href="{{ url_for('carnival') }}" class="btn">Book Now</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/kia-sonet.png') }}" alt="">
                <div class="content">
                    <h3>kia-sonet</h3>
                    <div class="price"> <span>price : </span> 13,50,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> manual
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> diesel
                        <span class="fas fa-circle"></span> 183mph
                    </p>
                    <a href="{{ url_for('sonet') }}" class="btn">Book Now</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/Audi-q7.png') }}" alt="">
                <div class="content">
                    <h3>audi-q7</h3>
                    <div class="price"> <span>price : </span> 88,40,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> manual
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> diesel
                        <span class="fas fa-circle"></span> 183mph
                    </p>
                    <a href="{{ url_for('audiq7') }}" class="btn">Book Now</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/Audi a4.webp') }}" alt="">
                <div class="content">
                    <h3>Audi a4</h3>
                    <div class="price"> <span>price : </span> 45,00,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> manual
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> diesel
                        <span class="fas fa-circle"></span> 183mph
                    </p>
                    <a href="{{ url_for('audia4') }}" class="btn">Book Now</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/Audi-Q3.png') }}" alt="">
                <div class="content">
                    <h3>Audi-Q3</h3>
                    <div class="price"> <span>price : </span> 43,61,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> manual
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> diesel
                        <span class="fas fa-circle"></span> 183mph
                    </p>
                    <a href="{{ url_for('audiq3') }}" class="btn">Book Now</a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-car"></i>
            <h3>car selling</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="{{ url_for('services') }}" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-tools"></i>
            <h3>parts repair</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="{{ url_for('services') }}" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-crash"></i>
            <h3>car insurance</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="{{ url_for('services') }}" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-battery"></i>
            <h3>battery replacement</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="{{ url_for('services2') }}" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-gas-pump"></i>
            <h3>oil change</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="{{ url_for('services2') }}" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-headset"></i>
            <h3>24/7 support</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="{{ url_for('services2') }}" class="btn"> read more</a>
        </div>

    </div>

</section>

<section class="featured" id="featured">

    <h1 class="heading"> <span>featured</span> cars </h1>

    <div class="swiper featured-slider">

       <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/skoda kodiAQ.png') }}" alt="">
                <div class="content">
                    <h3>skoda kodiAQ</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">37,50,000/-</div>
                    
                    <a href="{{ url_for('kodiAQ') }}" class="btn">Book Now</a>
                </div>
            </div>

            `


            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/volkswagen jetta.png') }}" alt="">
                <div class="content">
                    <h3>volkswagen jetta</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">20,90,000/-</div>
                    
                    <a href="{{ url_for('jetta') }}" class="btn">Book Now</a>
                </div>
            </div>


            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/volkswagen polo.png') }}" alt="">
                <div class="content">
                    <h3>volkswagen polo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">11,00,000/-</div>
                    
                    <a href="{{ url_for('polo') }}" class="btn">Book Now</a>
                </div>
            </div>



            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/hyundai creta.png') }}" alt="">
                <div class="content">
                    <h3>hyundai creta</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">18,00,000/-</div>
                    
                    <a href="{{ url_for('creta') }}" class="btn">Book Now</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/hyundai verna.png') }}" alt="">
                <div class="content">
                    <h3>hyundai verna</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">16,00,000/-</div>
                    
                    <a href="{{ url_for('verna') }}" class="btn">Book Now</a>
                </div>
            </div>

       </div>

       <div class="swiper-pagination"></div>

    </div>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
 
             <div class="swiper-slide box">
                 <img src="{{ url_for('static',filename='images/honda city.png') }}" alt="">
                 <div class="content">
                     <h3>honda city</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">15,50,000/-</div>
                    
                     <a href="{{ url_for('city') }}" class="btn">Book Now</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="{{ url_for('static',filename='images/hondacivic.png') }}" alt="">
                 <div class="content">
                     <h3>honda civic</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">19,00,000/-</div>
                     
                     <a href="{{ url_for('civic') }}" class="btn">Book Now</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="{{ url_for('static',filename='images/toyota Fortuner.png') }}" alt="">
                 <div class="content">
                     <h3>toyota Fortuner</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">43,50,000/-</div>
                     
                     <a href="{{ url_for('fortuner') }}" class="btn">Book Now</a>
                 </div>
             </div>
 
             

             
            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/ford_ecosport.png') }}" alt="">
                <div class="content">
                    <h3>Ford Ecosport</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">11,70,000/-</div>
                    <a href="{{ url_for('ecosport') }}" class="btn">Book Now</a>
                </div>
            </div>


            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/Ford_Endeavour.webp') }}" alt="">
                <div class="content">
                    <h3>Ford Endeavour</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">36,26,000/-</div>
                    <a href="{{ url_for('endeavour') }}" class="btn">Book Now</a>
                </div>
            </div>


 
        </div>
 
        <div class="swiper-pagination"></div>
 
     </div>

</section>

<section class="newsletter">
    
    <h3>subscribe for latest updates</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit.</p>

   <form action="">
        <input type="email" placeholder="enter your email">
        <input type="submit" value="subscribe">
   </form>

</section>

<section class="reviews" id="reviews">

    <h1 class="heading"> client's <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/pic-1.png') }}" alt="">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        
                    </div>
                    <a href="{{ url_for('reviews') }}" class="btn">open</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/pic-2.png') }}" alt="">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        
                    </div>
                    <a href="{{ url_for('reviews') }}" class="btn">open</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/pic-3.png') }}" alt="">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="{{ url_for('reviews') }}" class="btn">open</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/pic-4.png') }}" alt="">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="{{ url_for('reviews') }}" class="btn">open</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/pic-5.png') }}" alt="">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="{{ url_for('reviews') }}" class="btn">open</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{ url_for('static',filename='images/pic-6.png') }}" alt="">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="{{ url_for('reviews') }}" class="btn">open</a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="contact" id="contact">

    <h1 class="heading"><span>contact</span> us</h1>

    <div class="row">

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30169.684394588174!2d72.8121446635949!3d19.054478224402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8e123f8d27b%3A0x437996b49a236a78!2sBandra%20West%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1642757271010!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>" allowfullscreen="" loading="lazy"></iframe>

        

    </div>

</section>

<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>our branches</h3>
            <a href="https://www.cars24.com/centres/hyderabad"> <i class="fas fa-map-marker-alt"></i> Hyderabad </a>
            <a href="https://www.cars24.com/centres/mumbai/"> <i class="fas fa-map-marker-alt"></i> Mumbai </a>
            <a href="https://www.cars24.com/centres/bengaluru/"> <i class="fas fa-map-marker-alt"></i> Banglore </a>
            <a href="https://www.cars24.com/centres/chennai/"> <i class="fas fa-map-marker-alt"></i> Chennai </a>
            <a href="https://www.cars24.com/centres/kolkata/"> <i class="fas fa-map-marker-alt"></i> kolkata </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> vehicles </a>
            <a href="{{ url_for('services') }}"> <i class="fas fa-arrow-right"></i> services </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
            <a href="{{ url_for('reviews') }}"> <i class="fas fa-arrow-right"></i> reviews </a>
            <a href="{{ url_for('contact') }}"> <i class="fas fa-arrow-right"></i> contact us </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> 6303155255 </a>
            <a href="#"> <i class="fas fa-phone"></i> 8688943422 </a>
            <a href="https://outlook.office365.com/mail/"> <i class="fas fa-envelope"></i> 2000080040@kluniversity.in </a>
            <a href="https://outlook.office365.com/mail/"> <i class="fas fa-envelope"></i> 2000080083@kluniversity.in </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104 </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="https://twitter.com/?lang=en-in"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="https://www.instagram.com/"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="https://in.linkedin.com/"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="https://in.pinterest.com/login/"> <i class="fab fa-pinterest"></i> pinterest </a>
            <a href="https://web.whatsapp.com/"> <i class="fab fa-whatsapp"></i> whatsapp </a>
        </div>

    </div>   

</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="{{ url_for('static',filename='js/project 4 script.js') }}"></script>

</body>
</html>