<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Our Service Section</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/services page.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="box">
                <h2>01</h2>
                <h3>Car selling</h3>   
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dicta sequi quisquam sapiente ex. Voluptatem repellat architecto suscipit! Sint aperiam at architecto adipisci repudiandae dicta.</p>             
            </div>
            <div class="box">
                <h2>02</h2>
                <h3>Parts repair</h3>   
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis, cupiditate aut pariatur consequatur placeat atque, sed similique non, ut asperiores sequi rerum culpa. Omnis.</p>             
            </div>
            <div class="box">
                <h2>03</h2>
                <h3>Car insurance</h3>   
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio doloribus sit, iste, rerum reiciendis ipsum ullam neque non rem voluptas, expedita labore unde ad. Ab?</p>             
            </div>                
        </div>
    </body>
</html>